<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.muhammadfaisal.jupafazz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JupaFazz"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.ChangePinActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PinActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TransferConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ScannerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BannerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DetailDepositActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DepositHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MutationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RequestDepositActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MethodDepositActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SuccessTransactionActivity"
            android:exported="false" />

        <service android:name=".service.VersioningService" />

        <activity
            android:name=".activity.StartSessionActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DetailHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CreateTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
    </application>

</manifest>